/* base classes */
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.float-left{
    float: left;

}
.float-right{
    float: right;
}
.clearfix::after{
   content: "";
   clear: both;
   display: block;
}
/* base classes end  */
/* header  */
.logo{
    margin-top: 20px;
    width: 196px;
    margin-bottom: 20px;
}
.navbar{
    margin-top: 35px;
    margin-left: 103px;
    font-family: 'Roboto';
}
.nav-li{
    padding-left: 30px;
    font-size: 24px;
    color: #3D58A6;
    text-transform: uppercase;
}
/* end header  */
/* banner section  */
.banner-section{
    background-color: #E6E6E6;
}
.banner-wrapper img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-wrapper{
    position: relative;
}
.list-ul{
    position: absolute;
    top: 321px;
    left: 30px;
}
.list-li{
    font-family: 'Roboto';
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
/* banner section end  */
/* video section  */
.video-section{
    background-color: #363E97;
}
.video-section-title{
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto';
    padding-top: 30px;
    padding-bottom: 27px;
    
}
.left-block{
    background-color: #fff;
    width: 570px;
    height: 320px;
    margin-right: 30px;
    margin-bottom: 90px;
}
.right-block{
    background-color: #fff;
    width: 570px;
    height: 320px;
    margin-bottom: 90px;
}
/* video section end   */
/* news list section  */
.news-list-section{
    background-color: #BDCCD4;
}
.news-list-title {
    font-family: 'Roboto';
    font-size: 24px;
    color: #3D58A6;
    padding-top: 30px;
    padding-bottom: 28px;
}
.news-box{
    width: 270px;
    background-color: #E6E6E6;
    margin-right: 30px;
}
.news-box-h4-title{
    font-family: 'Roboto';
    font-size: 22px;
    color: #333333;
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 17px;
}

/* news list section end  */