/* base classes */
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.float-left{
    float: left;

}
.float-right{
    float: right;
}
.clearfix{
    clear: both;
}
/* base classes end  */
/* header  */
.logo{
    margin-top: 20px;
    width: 196px;
    margin-bottom: 20px;
}
.navbar{
    margin-top: 35px;
    margin-left: 103px;
    font-family: 'Roboto';
}
.nav-li{
    padding-left: 30px;
    font-size: 24px;
    color: #3D58A6;
    text-transform: uppercase;
}
/* end header  */
/* banner section  */
.banner-section{
    background-color: #E6E6E6;
}
.banner-wrapper img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-wrapper{
    position: relative;
}
.list-ul{
    position: absolute;
    top: 291px;
    left: 30px;
    font-family: 'Roboto';
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
/* banner section end  */